Checks: >-
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  cert-oop54-cpp,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-deprecated-headers,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  mpi-*,
  openmp-*,
  -openmp-use-default-none,
  performance-*,
  portability-*,
FormatStyle: file
HeaderFilterRegex: 'core/(base|vtk)|standalone'
