Checks: >-
  -*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-too-small-loop-variable,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-no-recursion,
  -modernize-*,
  openmp-*,
  -openmp-use-default-none,
  performance-*,
  portability-*,
FormatStyle: file
HeaderFilterRegex: 'core/(base|vtk)|standalone'
